@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

header {
  background-color: darkgreen;
  color: white;
  height: 60px;
  width: 100%;
  margin-bottom: 2%;
}

header .fcclogo {
  padding: 10px 0 0 10px;
  width: 250px;
}

.header {
  padding: 3% 0 9% 0;
  text-align: center;
  font-size: 45px;
}

.tableHead {
  font-size: 20px;
}

.camperImg {
  width: 60px;
}

.sortBy {
  color: #337ab7;
}

.sortBy:hover {
  text-decoration: underline;
  color: #23527c;
  cursor: pointer;
}

@media (max-width: 530px) {
  .header {
    font-size: 20px;
  }

  .tableHead {
    font-size: 14px;
  }

  .tableBody {
    font-size: 14px;
  }
}
